{erl_opts, [debug_info, warnings_as_errors]}.
{description, "A small Erlang/OTP NATS Core client"}.
{licenses, ["MIT"]}.
{links, [{"GitHub", "https://github.com/emqx/enats_client"}]}.
{hex, [{doc, edoc}]}.
{deps, [{jiffy, "2.0.1"}]}.
{project_plugins, [{erlfmt, "1.7.0"}, {rebar3_hex, "7.2.0"}]}.
{erlfmt, [write, {files, ["{src,test,examples}/*.{erl,hrl,app.src}", "rebar.config"]}]}.
{dialyzer, [
    {plt_extra_apps, [jiffy, public_key]},
    {warnings, [error_handling, unknown]}
]}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions,
    deprecated_callbacks
]}.
